
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 18px;
}

header,
footer {
    background-color: rgb(162, 146, 127);
}

.site-title {
    color: rgb(79, 37, 37);
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

.hobbies {
    list-style-type: square;
}

.hobbies li:nth-child(odd) {
    background-color: antiquewhite;

}

nav ul {
    list-style: none;
}
nav a {
    text-decoration: none;
    background-color: beige;
    border: 1px solid #999;
    display: inline-block;
    color: black;
}
nav a:hover,
nav a:focus {
    background-color: crimson;
}


