*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background-color: #181818;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #e6e6e6;
}

/* PAGE */
.page {
    width: 900px;
    margin: 0 auto;
    background-color: #282828;
}

/* HEADER */
.hero {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HERO TITLE */
.hero h1 {
    color: #e6e6e6;
    font-size: 72px;
    font-weight: 500;
    letter-spacing: 3px;
}

/* NAVIGATION */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px 0;
    background-color: #181818;
}

.nav a {
    text-decoration: none;
    color: #e6e6e6;
    font-weight: 800;
    letter-spacing: 1px;
}

.nav span {
    display: inline-block;
    margin: 0 18px;
    font-size: 22px;
    color: #e6e6e6
}

/* MAIN CONTENT */
.content {
    padding: 25px;
}

/* SECTION TITLES */
h2 {
    white-space:nowrap;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 500;
}

/* CONTACT HEADING */
h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
}

.behind-brand {
    margin-top: 20px;
}

/* IMAGE + LAYOUT */
.Blurry {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

/* IMAGE SIZE */
.Blurry img {
    width: 275px;
    height: auto;
}

/* TEXT AREA */
.text {
    flex: 1;
}

.Blurry p {
    text-indent: 30px;
    line-height: 1.5;
}

/* FACTS */
ul {
    margin-left: 20px;
}

li {
    margin-bottom: 8px;
}

/* CONTACT FORM */
.contact-form {
    border: 1px solid #181818;
    padding: 15px;
    background: #181818;
}

.contact-form label {
    display: block;
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #282828;
    border: 1px solid #282828; 
    color: #e6e6e6
}

.visit-question {
    margin-top: 20px;
    margin-bottom: 20px;
}

.radio-group {
    margin-bottom: 20px;
}

.radio-group label{
    display: inline-block;
    margin-right: 12px;
    margin-top: 25px;
}

.radio-group input {
    width: auto; 
    margin-right: 4px;
}

.contact-form button {
    padding: 6px 12px;
    background: #282828;
    color: #e6e6e6;
    border: none;
}

/* FOOTER */
footer {
    text-align: right;
    padding: 15px;
    font-size: 14px;
    color: #e6e6e6
}